/* CSS variables */
:root {
	--main-color: #00cc99;
	--main-dark-color: #00b386;
	--secondary-color: #404040;
	--patent-color: #e6e6e6;
	--background-color: whitesmoke;
}


/* General */
html, body, .content {
	height: 100%;
	overflow: hidden;
}

form {
	width: 100%;
}

.displayNone {
	display: none;
}

.fullHeight {
	height: 100%;
}

.textOverflow {
	overflow: hidden; 
    white-space: nowrap; 
	text-overflow: ellipsis;
}

.contentBody {
	background-color: whitesmoke;
	padding: 0 !important;
}

/* Main menu */
.mainMenu {
	background-color: var(--secondary-color);
	height: 100%;
	color: white;
	
	-webkit-box-shadow: 5px 0px 5px -2px rgba(51,51,51,0.72);
	-moz-box-shadow: 5px 0px 5px -2px rgba(51,51,51,0.72);
	box-shadow: 5px 0px 10px -2px rgba(51,51,51,0.72);
	z-index: 1;
}

.menuRow {
	padding: 0px 0px 10px 15px;
	border-bottom: 1px solid #333333;
	transition: 0.4s;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}

.menuRow:hover {
	background-color: var(--main-color);
}

.menuRow.active {
	background-color: var(--main-color);
}

.menuItem {

}


/* Barcode scanner inside main menu */
.barcodeScanRow {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.barcodeScanOption {
	background-color: darkgray;
	height: 80px;
	text-align: center;
}

.barcodeScanField {
	width: 100%;
	height: 50px;
	border-top: 1px solid var(--main-color);
	border-right: none;
}

.barcodeSubmissionButton {
	border: none;
	background-color: var(--main-color);
	cursor: pointer;
}


/* Barcode scanner camera */
.barcodeScannerCameraSection {
	width: 0px;
	height: 0px;
	display: none;
}

.barcodeScannerCameraSection.active {
	display: block;
}

.barcodeScannerCameraSection video, canvas {
	position: absolute;
	width: 90%;
	margin: 0px 0px 0px 5%;
	height: fit-content;
	z-index: 1;
}


/* Forms */
.numericalField {
	border: none;
	background-color: #ffffff;
	border-bottom: 1px solid #333333;
}

.optionField {
	background-color: white;
}


/* |||||||||| Core sections |||||||||| */
.coreSection {
	width: 100%;
	height: 100%;
	display: none;
}

.coreSection.active {
	display: block;
}

.coreSectionRow {
	height: 100%;
}

.coreSectionContent {
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 2% 30px 0px 30px;
	height: calc(98% - 50px);
}

.topBar {
	height: 50px;
	line-height: 50px;
}

.topBarTitle {
	background-color: var(--main-color);
	font-size: 22px;
	text-align: center;
}

.topBarSubtitle {
	font-size: 22px;
	background-color: var(--secondary-color);
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* \\\\\\\\ Scan Core Section //////// */

/* Placeholder */
.scanPlaceholderSection {
	text-align: center;
	font-size: 25px;
	height: 100%;
}

.scanPlaceholderImage {
	width: inherit;
}

/* General product information */
.scanProductGeneralDiv {
	height: auto;
}

.scanProductGeneralDivValue {
	font-weight: 500;
	text-align: right;
}

.productStockDiv {
	
}

.productStockDivTitle {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.productStockDivWarehouse {
	border: 4px solid var(--main-color);
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 2% 3% 0px 0px;
	background-color: var(--patent-color);
	padding: 1% 0px 0px 0px;
}

.productStockDivWarehouseTitle {
	font-size: 17px;
	overflow: hidden; 
    white-space: nowrap; 
	text-overflow: ellipsis;
}

.productStockDivWarehouseIcon {
	font-size: 25px;
}


/* \\\\\\\\ Stocktaking Core Section //////// */
.stocktakingHead {
	background-color: var(--main-color);
}

.stocktakingTitleHead {
	height: 40px;
	line-height: 40px;
}

.stocktakingSpecHead {
	background-color: var(--patent-color);
	height: 25px;
}

.stocktakingSaveIcon {
	color: white;
}

.stocktakingProductsBody {
	background-color: white;
	height: 500px;
	overflow: auto;
}

.stocktakingProductRow {
	height: 40px;
	line-height: 40px;
	border: 1px solid var(--patent-color);
	background-color: white;
}

.stocktakingProductRow.success {
	background-color: var(--main-color);
	color: white;
}

.stocktakingProductNameField {
	overflow: hidden; 
    white-space: nowrap; 
	text-overflow: ellipsis;
}

.stockTakingProductAmountField {
	width: 40%;
	height: 100%;
}

.stocktakingOptionBlock {
	
}

.stocktakingOptionsHead {
	margin-top: 40px;
	height: 40px;
}

.stocktakingHeadOption {
	background-color: var(--patent-color);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	cursor: pointer;
}

.stocktakingHeadOption.active {
	background-color: var(--main-color);
}

.stocktakingOptionsBody {
	height: 435px;
	background-color: white;
	padding-top: 3%;
}

.stocktakingSubBlock {
	display: none !important;
}

.stocktakingSubBlock.active {
	display: block !important;
}

.stocktakingOptionsRow {
	padding: 0px 0px 5% 0px;
	border-bottom: 1px solid var(--patent-color);
}

.stocktakingOption {
	height: 50px;
	font-size: 25px;
	color: #333333;
	line-height: 50px;
	text-align: center;
	border: 1px solid #333333;
}

.stocktakingOption.active {
	border: 3px solid var(--main-color);
}

.stocktakingOptionSubSection {
	display: none !important;
}

.stocktakingOptionSubSection.active {
	display: block !important;
}

.stocktakingSubmitSection {
	background-color: var(--main-color);
	height: 50px;
	text-align: center;
	line-height: 50px;
}


/* \\\\\\\\ Orders Core Section //////// */
.orderLists {
	height: 565px;
	overflow: hidden;
}

.orderListHead {
	background-color: var(--main-color);
	height: 40px;
	line-height: 40px;
}

.orderListBody {
	height: 485px;
	overflow: auto;
	background-color: var(--patent-color);
}

.orderListItem {
	background-color: white;
	height: 40px;
	line-height: 40px;
	border: 1px solid var(--patent-color);
	cursor: pointer;
}

.orderListItem.active {
	background-color: var(--main-dark-color);
	border: 1px solid var(--main-dark-color);
	cursor: default;
}

.orderListAddButton {
	height: 200px;
	background-color: var(--secondary-color);
	color: white;
	line-height: 40px;
	transition: 0.5s;
	cursor: pointer;
	position: relative;
}

.orderListAddButton.active {
	margin-top: -160px;
	cursor: default;
}

.addOrderFormVisibleTitle {
	padding: 0px 0px 5% 0px;
}

.addOrderFormCloseIcon {
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: none !important;
}

.addOrderFormCloseIcon.active {
	display: contents !important;
}

.addOrderFormTitle {
	padding: 0;
	margin: 0;
}

.addOrderFormNameField {
	width: 100%;
}

.addOrderFormCheckbox {
	height: 25px;
	width: 25px;
	margin: 7px 0px 0px 0px;
}

.addOrderFormSubmit {
	background-color: var(--main-color);
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.orderContent {
	margin: 0px 0px 0px 4%;
}

.orderTitleHead {
	background-color: var(--main-color);
	height: 40px;
	line-height: 40px;
}

.orderTitleTab {
	width: auto;
	height: 100%;
	padding: 0% 3% 0% 3%;
	display: inline;
	background-color: var(--main-color);
	border-left: 2px solid var(--main-dark-color);
	border-right: 2px solid var(--main-dark-color);
	cursor: pointer;
}

.orderTitleTab.active {
	background-color: var(--main-dark-color);
	cursor: default;
}

.orderSpecHead {
	height: 25px;
	background-color: var(--patent-color);
}

.orderSaveIcon {
	color: white;
	position: absolute;
	right: 0;
	height: 40px;
	width: 40px;
	line-height: 40px !important;
	text-align: center;
}

.orderRemoveProductsIcon {
	color: white;
	position: absolute;
	right: 40px;
	height: 40px;
	width: 40px;
	line-height: 40px !important;
	text-align: center;
}

.orderRemoveProductsIcon.active {
	background-color: var(--main-dark-color);
}

.orderContentBody {
	background-color: white;
	height: 500px;
}

.orderTab {
	display: none !important;
}

.orderTab.active {
	display: block !important;
}

.orderSection {
	height: 475px;
	overflow: auto;
}

.orderSection.products {
	scroll-behavior: smooth;
}

.orderProducts {
	display: none !important;
	
}

.orderProducts.active {
	display: block !important;
}

.orderProductRow {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid var(--patent-color);
	border-bottom: 1px solid var(--patent-color);
	transition: 0.5s;
}

.orderProductRow.active {
	background-color: #999999;
}

.orderProductRow.highlight {
	background-color: var(--main-color);
}

.orderProductRowAmountField {
	width: 50px;
	height: 100%;
}


/* |||||||||| Action Menus |||||||||| */

/* General */
.actionMenu {
	display: block;
	background-color: var(--main-color);
}

.actionMenuOptions {
	background-color: var(--secondary-color);
}

.actionMenuTitle {
	text-align: center;
	color: white;
	width: 100%;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.actionMenuSelect {
	background-color: var(--background-color);
	width: 90%;
	height: 50px;
	margin: 0px 0px 0px 5%;
	border: none;
	padding: 0px 5px 0px 5px;
}

.actionMenuSection {
	display: none;
}

.actionMenuSection.active {
	display: block;
}

.actionMenuSubmitButtonSection {
	text-align: center;
}

.actionMenuOptionField {
	color: white;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	padding: 0px 0px 5px 0px;
	background-color: var(--main-color);
}

.actionMenuSubmitButton {
	background-color: white;
	color: #333333;
	border-radius: 5px;
	border: none;
	margin: 20px 0px 0px 0px;
}

/* \\\\\\\\ Scan action menu //////// */

.productMenuWarehouse {
	text-align: center;
}

.warehouseOptionField {
	color: white;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	padding: 0px 0px 5px 0px;
	background-color: var(--main-color);
}

.warehouseOption {
	display: none;
}

.warehouseOption.active {
	display: block;
}

.fromToWarehouseArrow {
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 15px 0px 15px 0px; 
}

.warehouseOption {
	border: 1px solid white;
	border-radius: 5px;
	width: 80%;
	text-align: center;
	color: white;
	margin: 15px 0px 0px 10%;
	padding: 10px;
}

.productStockAmount {
	color: white;
	margin: 15px 0px 0px 0px;
}

.productWarehouseNumericalField {
	background-color: var(--main-color);
	color: white;
	border-bottom: 1px solid white;
	text-align: center;
	width: 100%;
	padding: 0px 0px 5px 0px;
}

.productStockBookingReason {
	color: white;
	margin: 15px 0px 0px 0px;
}


/* Error template */
.errorTemplate {
	position: absolute;
	width: 60%;
	margin: 0px 0px -100% 20%;
	background-color: #ff6666;
	opacity: 0%;
	padding: 5px 15px 5px 15px;
	z-index: -1;
	transition: 0.5s;
}

.errorTemplate.active {
	opacity: 80%;
	z-index: 1;
}

.errorTemplateTitle {
	width: 100%;
	font-size: 20px;
}

.errorTemplateBody {
	width: 100%;
	font-size: 15px;
}