/* CSS variables */
:root {
	--main-color: #00cc99;
	--secondary-color: #404040;
	--patent-color: #e6e6e6;
	--background-color: whitesmoke;
}


/* General */
html, body, .content {
	height: 100%;
	overflow: hidden;
}

form {
	width: 100%;
}

.displayNone {
	display: none;
}

.contentBody {
	background-color: whitesmoke;
	padding: 0 !important;
}

/* Main menu */
.mainMenu {
	background-color: var(--secondary-color);
	height: 100%;
	color: white;
	
	-webkit-box-shadow: 5px 0px 5px -2px rgba(51,51,51,0.72);
	-moz-box-shadow: 5px 0px 5px -2px rgba(51,51,51,0.72);
	box-shadow: 5px 0px 10px -2px rgba(51,51,51,0.72);
	z-index: 1;
}

.menuRow {
	padding: 0px 0px 10px 15px;
	border-bottom: 1px solid #333333;
	transition: 0.4s;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}

.menuRow:hover {
	background-color: var(--main-color);

}

.menuRow.active {
	background-color: var(--main-color);
}

.menuItem {

}


/* Barcode scanner inside main menu */
.barcodeScanRow {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.barcodeScanOption {
	background-color: darkgray;
	height: 80px;
	text-align: center;
}

.barcodeScanField {
	width: 100%;
	height: 50px;
	border-top: 1px solid var(--main-color);
	border-right: none;
}

.barcodeSubmissionButton {
	border: none;
	background-color: var(--main-color);
	cursor: pointer;
}


/* Barcode scanner camera */
.barcodeScannerCameraSection {
	width: 0px;
	height: 0px;
	display: none;
}

.barcodeScannerCameraSection.active {
	display: block;
}

.barcodeScannerCameraSection video, canvas {
	position: absolute;
	width: 90%;
	margin: 0px 0px 0px 5%;
	height: fit-content;
	z-index: 1;
}


/* Forms */
.numericalField {
	border: none;
	background-color: #ffffff;
	border-bottom: 1px solid #333333;
}

.optionField {
	background-color: white;
}


/* |||||||||| Core sections |||||||||| */
.coreSection {
	width: 100%;
	height: 100%;
	display: none;
}

.coreSection.active {
	display: block;
}

.coreSectionRow {
	height: 100%;
}

.coreSectionContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.topBar {
	height: 50px;
	line-height: 50px;
}

.topBarTitle {
	background-color: var(--main-color);
	font-size: 22px;
	text-align: center;
}

.topBarSubtitle {
	font-size: 22px;
	background-color: var(--secondary-color);
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* \\\\\\\\ Scan Core Section //////// */

/* Placeholder */
.scanPlaceholderSection {
	text-align: center;
	font-size: 25px;
	height: 100%;
}

.scanPlaceholderImage {
	width: inherit;
}

/* General product information */
.scanProductGeneralDiv {
	padding: 2% 3% 0px 3%;
	height: auto;
}

.scanProductGeneralDivValue {
	font-weight: 500;
	text-align: right;
}

.productStockDiv {
	padding: 0px 3% 0px 3%;
}

.productStockDivTitle {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.productStockDivWarehouse {
	border: 4px solid var(--main-color);
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 2% 3% 0px 0px;
	background-color: var(--patent-color);
	padding: 1% 0px 0px 0px;
}

.productStockDivWarehouseTitle {
	font-size: 17px;
	overflow:hidden; 
    white-space:nowrap; 
	text-overflow: ellipsis;
}

.productStockDivWarehouseIcon {
	font-size: 25px;
}


/* |||||||||| Action Menus |||||||||| */

/* General */
.actionMenu {
	display: block;
	background-color: var(--main-color);
}

.actionMenuOptions {
	background-color: var(--secondary-color);
}

.actionMenuTitle {
	text-align: center;
	color: white;
	width: 100%;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.actionMenuSelect {
	background-color: var(--background-color);
	width: 90%;
	height: 50px;
	margin: 0px 0px 0px 5%;
	border: none;
	padding: 0px 5px 0px 5px;
}

.actionMenuSection {
	display: none;
}

.actionMenuSection.active {
	display: block;
}

.actionMenuSubmitButtonSection {
	text-align: center;
}

.actionMenuOptionField {
	color: white;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	padding: 0px 0px 5px 0px;
	background-color: var(--main-color);
}

.actionMenuSubmitButton {
	background-color: white;
	color: #333333;
	border-radius: 5px;
	border: none;
	margin: 20px 0px 0px 0px;
}

/* \\\\\\\\ Scan action menu //////// */

.productMenuWarehouse {
	text-align: center;
}

.warehouseOptionField {
	color: white;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	padding: 0px 0px 5px 0px;
	background-color: var(--main-color);
}

.warehouseOption {
	display: none;
}

.warehouseOption.active {
	display: block;
}

.fromToWarehouseArrow {
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 15px 0px 15px 0px; 
}

.warehouseOption {
	border: 1px solid white;
	border-radius: 5px;
	width: 80%;
	text-align: center;
	color: white;
	margin: 15px 0px 0px 10%;
	padding: 10px;
}

.productStockAmount {
	color: white;
	margin: 15px 0px 0px 0px;
}

.productWarehouseNumericalField {
	background-color: var(--main-color);
	color: white;
	border-bottom: 1px solid white;
	text-align: center;
	width: 100%;
	padding: 0px 0px 5px 0px;
}

.productStockBookingReason {
	color: white;
	margin: 15px 0px 0px 0px;
}


/* Error template */
.errorTemplate {
	position: absolute;
	width: 60%;
	margin: 0px 0px -100% 20%;
	background-color: #ff6666;
	opacity: 0%;
	padding: 5px 15px 5px 15px;
	z-index: -1;
	transition: 0.5s;
}

.errorTemplate.active {
	opacity: 80%;
	z-index: 1;
}

.errorTemplateTitle {
	width: 100%;
	font-size: 20px;
}

.errorTemplateBody {
	width: 100%;
	font-size: 15px;
}